body {background-color:burlywood ;

}

hr { 
    
     border-style: none;
     border-top-style: dotted;
     border-color: black;
     border-width: 5px;
     width: 15%;

}
h1{
 
    color: crimson;;

}
h3{
 
    color: crimson;

}
 